[Unit]
Description=Service to display a photo from a NAS

[Service]
Type=simple
ExecStart=/home/pi/PhotoManagement/install/launch_photo_frame.sh
Restart=always

[Install]
WantedBy=graphical.target
