[Unit]
Description=Service to display a photo from a NAS
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=raspberry
ExecStart=/home/raspberry/PhotoManagement/install/launch_photo_frame.sh
Restart=always

[Install]
WantedBy=graphical.target
